@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Retro Gaming", sans-serif;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Retro Gaming";
  src: url("./assets/font/retro-gaming.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Village";
  src: url("./assets/font/village.ttf");
  font-style: normal;
  font-weight: 400;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/img/main-screen/menu.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(15px);
}

.main-screen {
  overflow: hidden;
  position: relative;
  background: #777777;
  background-image: url("./assets/img/main-screen/herbe_ciel.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-screen > div {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-screen .main-screen__forge[glow=true] {
  z-index: 20;
  background-image: url("./assets/img/main-screen/forge_glow_02.webp");
}
.main-screen .main-screen__forge[glow=false] {
  z-index: 20;
  background-image: url("./assets/img/main-screen/forge_02.webp");
}
.main-screen .main-screen__auberge[glow=true] {
  z-index: 10;
  background-image: url("./assets/img/main-screen/auberge_glow_02.webp");
}
.main-screen .main-screen__auberge[glow=false] {
  z-index: 10;
  background-image: url("./assets/img/main-screen/auberge_02.webp");
}
.main-screen .main-screen__guilde[glow=true] {
  z-index: 20;
  background-image: url("./assets/img/main-screen/guilde_glow_02.webp");
}
.main-screen .main-screen__guilde[glow=false] {
  z-index: 20;
  background-image: url("./assets/img/main-screen/guilde_02.webp");
}
.main-screen .main-screen__taverne[glow=true] {
  z-index: 30;
  background-image: url("./assets/img/main-screen/taverne_glow_02.webp");
}
.main-screen .main-screen__taverne[glow=false] {
  z-index: 30;
  background-image: url("./assets/img/main-screen/taverne_02.webp");
}
.main-screen .main-screen__puit[glow=true] {
  z-index: 30;
  background-image: url("./assets/img/main-screen/puit_plein_glow_02.webp");
}
.main-screen .main-screen__puit[glow=false] {
  z-index: 30;
  background-image: url("./assets/img/main-screen/puit_vide_02.webp");
}
.main-screen .main-screen__inventaire[glow=true] {
  z-index: 40;
  background-image: url("./assets/img/main-screen/inventaire_glow_02.webp");
}
.main-screen .main-screen__inventaire[glow=false] {
  z-index: 40;
  background-image: url("./assets/img/main-screen/inventaire_02.webp");
}
.main-screen .main-screen__forge-over {
  z-index: 100;
  cursor: pointer;
}
.main-screen .main-screen__auberge-over {
  z-index: 100;
  cursor: pointer;
}
.main-screen .main-screen__guilde-over {
  z-index: 100;
  cursor: pointer;
}
.main-screen .main-screen__taverne-over {
  z-index: 100;
  cursor: pointer;
}
.main-screen .main-screen__puit-over {
  z-index: 100;
  cursor: pointer;
}
.main-screen .main-screen__inventaire-over {
  z-index: 100;
  cursor: pointer;
}

.gui__layer-0 {
  position: absolute;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gui__layer-0[visible=false] {
  display: none;
}

.gui__layer-0[visible=true] {
  display: flex;
}

.gui__auberge[visible=false],
.gui__guilde[visible=false],
.gui__taverne[visible=false],
.gui__forge[visible=false],
.gui__inventaire[visible=false] {
  display: none;
}

.gui__auberge[visible=true],
.gui__guilde[visible=true],
.gui__taverne[visible=true],
.gui__forge[visible=true],
.gui__inventaire[visible=true] {
  z-index: 210;
  background-image: url("./assets/img/gui/interface.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gui__puit[visible=false] {
  display: none;
}

.gui__puit[visible=true] {
  z-index: 210;
  background-image: url("./assets/img/gui/puit.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gui__border-top,
.gui__border-left,
.gui__border-bottom,
.gui__border-right {
  z-index: 220;
  display: none;
}

.gui__border-top[visible=true],
.gui__border-left[visible=true],
.gui__border-bottom[visible=true],
.gui__border-right[visible=true] {
  display: block;
}

.gui__border-top[type=auberge] {
  top: 0;
  left: 0;
  width: 100%;
  height: 9%;
}

.gui__border-left[type=auberge] {
  top: 0;
  left: 0;
  width: 4%;
  height: 100%;
}

.gui__border-bottom[type=auberge] {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.gui__border-right[type=auberge] {
  top: 0;
  right: 0;
  width: 4%;
  height: 100%;
}

.gui__border-top[type=puit] {
  top: 0;
  left: 0;
  width: 100%;
  height: 28%;
}

.gui__border-left[type=puit] {
  top: 0;
  left: 0;
  width: 25.5%;
  height: 100%;
}

.gui__border-bottom[type=puit] {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27%;
}

.gui__border-right[type=puit] {
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
}

.gui__in-guilde {
  height: 81.7%;
  width: 92.3%;
}
.gui__in-guilde hr {
  width: 90%;
  margin-left: 5%;
}

.gui__in-guilde[active=true] {
  display: flex;
  flex-direction: column;
}
.gui__in-guilde[active=true] .gui__in-guilde-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 0;
}
.gui__in-guilde[active=true] .gui__in-guilde-menu > button {
  text-align: center;
  font-size: 2rem;
  width: 23%;
  padding: 1.5% 0;
  cursor: pointer;
}
.gui__in-guilde[active=true] .gui__in-guilde-menu > button[active=true] {
  color: #c919ab;
}
.gui__in-guilde[active=true] > div[active=false] {
  display: none;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete[active=true],
.gui__in-guilde[active=true] .gui__in-guilde__donjon[active=true],
.gui__in-guilde[active=true] .gui__in-guilde__ND[active=true],
.gui__in-guilde[active=true] .gui__in-guilde__succes[active=true] {
  flex-grow: 1;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete p {
  font-size: 2rem;
  text-align: center;
  margin: 1% 0;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-bottom: 4%;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .arrow {
  background-image: url("./assets/img/gui/fleche.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 4%;
  height: 30%;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .arrow[left] {
  transform: rotate(180deg);
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .arrow[clickable=false] {
  background-image: none;
  cursor: default;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content {
  height: 100%;
  width: 70%;
  overflow: hidden;
  position: relative;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #96dddd;
  border: 0.25rem solid black;
  position: absolute;
  transition: transform 0.25s ease-in-out;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div .chapitre-container {
  height: 80%;
  width: 80%;
  position: relative;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div .chapitre-container button {
  height: 3rem;
  width: 3rem;
  font-size: 1.25rem;
  border-radius: 3rem;
  border: 0.25rem solid black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 221;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div .chapitre-container button[state=not-passed] {
  background-color: #6b6b6b;
  cursor: default;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div .chapitre-container button[state=passed] {
  background-color: #46ca5c;
  cursor: pointer;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div .chapitre-container button[state=to-pass] {
  background-color: #d86666;
  cursor: pointer;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div .chapitre-container div {
  position: absolute;
  border-top: 0.5rem dashed;
  transform-origin: left;
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div .chapitre-container div[state=not-passed] {
  border-color: rgba(0, 0, 0, 0);
}
.gui__in-guilde[active=true] .gui__in-guilde__quete .chapitre-display .chapitre-content > div .chapitre-container div[state=to-pass] {
  border-color: black;
}

.gui__in-guilde[active=false] {
  display: none;
}

.chapter-template-1 :nth-child(1) {
  top: 70%;
  left: 0%;
}
.chapter-template-1 :nth-child(2) {
  top: 20%;
  left: 5%;
}
.chapter-template-1 :nth-child(3) {
  top: 12%;
  left: 20%;
}
.chapter-template-1 :nth-child(4) {
  top: 45%;
  left: 31%;
}
.chapter-template-1 :nth-child(5) {
  top: 82%;
  left: 35%;
}
.chapter-template-1 :nth-child(6) {
  top: 87%;
  left: 49%;
}
.chapter-template-1 :nth-child(7) {
  top: 50%;
  left: 56%;
}
.chapter-template-1 :nth-child(8) {
  top: 30%;
  left: 74%;
}
.chapter-template-1 :nth-child(9) {
  top: 42%;
  left: 89%;
}
.chapter-template-1 :nth-child(10) {
  top: 45%;
  left: 100%;
}
.chapter-template-1 :nth-child(11) {
  top: calc(91% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(-36deg);
  width: 14%;
}
.chapter-template-1 :nth-child(12) {
  top: calc(70% + 1.5rem);
  left: calc(0% + 1.5rem);
  transform: rotateZ(-77deg);
  width: 23%;
}
.chapter-template-1 :nth-child(13) {
  top: calc(20% + 1.5rem);
  left: calc(5% + 1.5rem);
  transform: rotateZ(-14deg);
  width: 16%;
}
.chapter-template-1 :nth-child(14) {
  top: calc(12% + 1.5rem);
  left: calc(20% + 1.5rem);
  transform: rotateZ(51deg);
  width: 18%;
}
.chapter-template-1 :nth-child(15) {
  top: calc(45% + 1.5rem);
  left: calc(31% + 1.5rem);
  transform: rotateZ(76deg);
  width: 16%;
}
.chapter-template-1 :nth-child(16) {
  top: calc(82% + 1.5rem);
  left: calc(35% + 1.5rem);
  transform: rotateZ(7deg);
  width: 12%;
}
.chapter-template-1 :nth-child(17) {
  top: calc(87% + 1.5rem);
  left: calc(49% + 1.5rem);
  transform: rotateZ(-66deg);
  width: 18%;
}
.chapter-template-1 :nth-child(18) {
  top: calc(50% + 1.5rem);
  left: calc(56% + 1.5rem);
  transform: rotateZ(-26deg);
  width: 21%;
}
.chapter-template-1 :nth-child(19) {
  top: calc(30% + 1.5rem);
  left: calc(74% + 1.5rem);
  transform: rotateZ(17deg);
  width: 16%;
}
.chapter-template-1 :nth-child(20) {
  top: calc(42% + 1.5rem);
  left: calc(89% + 1.5rem);
  transform: rotateZ(5deg);
  width: 9%;
}
.chapter-template-1 :nth-child(21) {
  top: calc(45% + 1.5rem);
  left: calc(100% + 1.5rem);
  transform: rotateZ(-19deg);
  width: 16%;
}

.chapter-template-2 :nth-child(1) {
  top: 80%;
  left: 0%;
}
.chapter-template-2 :nth-child(2) {
  top: 93%;
  left: 20%;
}
.chapter-template-2 :nth-child(3) {
  top: 46%;
  left: 38%;
}
.chapter-template-2 :nth-child(4) {
  top: 17%;
  left: 30%;
}
.chapter-template-2 :nth-child(5) {
  top: 22%;
  left: 14%;
}
.chapter-template-2 :nth-child(6) {
  top: 51%;
  left: 16%;
}
.chapter-template-2 :nth-child(7) {
  top: 79%;
  left: 40%;
}
.chapter-template-2 :nth-child(8) {
  top: 52%;
  left: 63%;
}
.chapter-template-2 :nth-child(9) {
  top: 51%;
  left: 89%;
}
.chapter-template-2 :nth-child(10) {
  top: 70%;
  left: 100%;
}
.chapter-template-2 :nth-child(11) {
  top: calc(50% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(43deg);
  width: 16%;
}
.chapter-template-2 :nth-child(12) {
  top: calc(80% + 1.5rem);
  left: calc(0% + 1.5rem);
  transform: rotateZ(14deg);
  width: 21%;
}
.chapter-template-2 :nth-child(13) {
  top: calc(93% + 1.5rem);
  left: calc(20% + 1.5rem);
  transform: rotateZ(-48deg);
  width: 25%;
}
.chapter-template-2 :nth-child(14) {
  top: calc(46% + 1.5rem);
  left: calc(38% + 1.5rem);
  transform: rotateZ(-122deg);
  width: 13%;
}
.chapter-template-2 :nth-child(15) {
  top: calc(17% + 1.5rem);
  left: calc(30% + 1.5rem);
  transform: rotateZ(173deg);
  width: 14%;
}
.chapter-template-2 :nth-child(16) {
  top: calc(22% + 1.5rem);
  left: calc(14% + 1.5rem);
  transform: rotateZ(-279deg);
  width: 10%;
}
.chapter-template-2 :nth-child(17) {
  top: calc(51% + 1.5rem);
  left: calc(16% + 1.5rem);
  transform: rotateZ(26deg);
  width: 27%;
}
.chapter-template-2 :nth-child(18) {
  top: calc(79% + 1.5rem);
  left: calc(40% + 1.5rem);
  transform: rotateZ(-27deg);
  width: 24%;
}
.chapter-template-2 :nth-child(19) {
  top: calc(52% + 1.5rem);
  left: calc(63% + 1.5rem);
  transform: rotateZ(-2deg);
  width: 24%;
}
.chapter-template-2 :nth-child(20) {
  top: calc(51% + 1.5rem);
  left: calc(89% + 1.5rem);
  transform: rotateZ(35deg);
  width: 11%;
}
.chapter-template-2 :nth-child(21) {
  top: calc(70% + 1.5rem);
  left: calc(100% + 1.5rem);
  transform: rotateZ(14deg);
  width: 13%;
}

.chapter-template-3 :nth-child(1) {
  top: 39%;
  left: 0%;
}
.chapter-template-3 :nth-child(2) {
  top: 14%;
  left: 14%;
}
.chapter-template-3 :nth-child(3) {
  top: 17%;
  left: 30%;
}
.chapter-template-3 :nth-child(4) {
  top: 46%;
  left: 28%;
}
.chapter-template-3 :nth-child(5) {
  top: 76%;
  left: 15%;
}
.chapter-template-3 :nth-child(6) {
  top: 92%;
  left: 32%;
}
.chapter-template-3 :nth-child(7) {
  top: 73%;
  left: 49%;
}
.chapter-template-3 :nth-child(8) {
  top: 40%;
  left: 63%;
}
.chapter-template-3 :nth-child(9) {
  top: 27%;
  left: 84%;
}
.chapter-template-3 :nth-child(10) {
  top: 37%;
  left: 100%;
}
.chapter-template-3 :nth-child(11) {
  top: calc(45% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(-13deg);
  width: 11%;
}
.chapter-template-3 :nth-child(12) {
  top: calc(39% + 1.5rem);
  left: calc(0% + 1.5rem);
  transform: rotateZ(-38deg);
  width: 16%;
}
.chapter-template-3 :nth-child(13) {
  top: calc(14% + 1.5rem);
  left: calc(14% + 1.5rem);
  transform: rotateZ(4deg);
  width: 14%;
}
.chapter-template-3 :nth-child(14) {
  top: calc(17% + 1.5rem);
  left: calc(30% + 1.5rem);
  transform: rotateZ(100deg);
  width: 10%;
}
.chapter-template-3 :nth-child(15) {
  top: calc(46% + 1.5rem);
  left: calc(28% + 1.5rem);
  transform: rotateZ(-223deg);
  width: 16%;
}
.chapter-template-3 :nth-child(16) {
  top: calc(76% + 1.5rem);
  left: calc(15% + 1.5rem);
  transform: rotateZ(20deg);
  width: 16%;
}
.chapter-template-3 :nth-child(17) {
  top: calc(92% + 1.5rem);
  left: calc(32% + 1.5rem);
  transform: rotateZ(-26deg);
  width: 17%;
}
.chapter-template-3 :nth-child(18) {
  top: calc(73% + 1.5rem);
  left: calc(49% + 1.5rem);
  transform: rotateZ(-45deg);
  width: 18%;
}
.chapter-template-3 :nth-child(19) {
  top: calc(40% + 1.5rem);
  left: calc(63% + 1.5rem);
  transform: rotateZ(-16deg);
  width: 22%;
}
.chapter-template-3 :nth-child(20) {
  top: calc(27% + 1.5rem);
  left: calc(84% + 1.5rem);
  transform: rotateZ(14deg);
  width: 14%;
}
.chapter-template-3 :nth-child(21) {
  top: calc(37% + 1.5rem);
  left: calc(100% + 1.5rem);
  transform: rotateZ(0deg);
  width: 13%;
}

.chapter-template-4 :nth-child(1) {
  top: 78%;
  left: 0%;
}
.chapter-template-4 :nth-child(2) {
  top: 33%;
  left: 5%;
}
.chapter-template-4 :nth-child(3) {
  top: 10%;
  left: 17%;
}
.chapter-template-4 :nth-child(4) {
  top: 10%;
  left: 34%;
}
.chapter-template-4 :nth-child(5) {
  top: 37%;
  left: 49%;
}
.chapter-template-4 :nth-child(6) {
  top: 60%;
  left: 41%;
}
.chapter-template-4 :nth-child(7) {
  top: 85%;
  left: 54%;
}
.chapter-template-4 :nth-child(8) {
  top: 76%;
  left: 73%;
}
.chapter-template-4 :nth-child(9) {
  top: 51%;
  left: 93%;
}
.chapter-template-4 :nth-child(10) {
  top: 11%;
  left: 97%;
}
.chapter-template-4 :nth-child(11) {
  top: calc(90% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(-23deg);
  width: 12%;
}
.chapter-template-4 :nth-child(12) {
  top: calc(78% + 1.5rem);
  left: calc(0% + 1.5rem);
  transform: rotateZ(-75deg);
  width: 18%;
}
.chapter-template-4 :nth-child(13) {
  top: calc(33% + 1.5rem);
  left: calc(5% + 1.5rem);
  transform: rotateZ(-41deg);
  width: 14%;
}
.chapter-template-4 :nth-child(14) {
  top: calc(10% + 1.5rem);
  left: calc(17% + 1.5rem);
  transform: rotateZ(-1deg);
  width: 17%;
}
.chapter-template-4 :nth-child(15) {
  top: calc(10% + 1.5rem);
  left: calc(34% + 1.5rem);
  transform: rotateZ(36deg);
  width: 17%;
}
.chapter-template-4 :nth-child(16) {
  top: calc(37% + 1.5rem);
  left: calc(49% + 1.5rem);
  transform: rotateZ(130deg);
  width: 10%;
}
.chapter-template-4 :nth-child(17) {
  top: calc(60% + 1.5rem);
  left: calc(41% + 1.5rem);
  transform: rotateZ(38deg);
  width: 19%;
}
.chapter-template-4 :nth-child(18) {
  top: calc(85% + 1.5rem);
  left: calc(54% + 1.5rem);
  transform: rotateZ(-12deg);
  width: 18%;
}
.chapter-template-4 :nth-child(19) {
  top: calc(76% + 1.5rem);
  left: calc(73% + 1.5rem);
  transform: rotateZ(-28deg);
  width: 21%;
}
.chapter-template-4 :nth-child(20) {
  top: calc(51% + 1.5rem);
  left: calc(93% + 1.5rem);
  transform: rotateZ(-77deg);
  width: 15%;
}
.chapter-template-4 :nth-child(21) {
  top: calc(11% + 1.5rem);
  left: calc(97% + 1.5rem);
  transform: rotateZ(-25deg);
  width: 17%;
}

.chapter-template-5 :nth-child(1) {
  top: 9%;
  left: 13%;
}
.chapter-template-5 :nth-child(2) {
  top: 33%;
  left: 2%;
}
.chapter-template-5 :nth-child(3) {
  top: 66%;
  left: 2%;
}
.chapter-template-5 :nth-child(4) {
  top: 89%;
  left: 20%;
}
.chapter-template-5 :nth-child(5) {
  top: 70%;
  left: 35%;
}
.chapter-template-5 :nth-child(6) {
  top: 36%;
  left: 43%;
}
.chapter-template-5 :nth-child(7) {
  top: 14%;
  left: 59%;
}
.chapter-template-5 :nth-child(8) {
  top: 20%;
  left: 76%;
}
.chapter-template-5 :nth-child(9) {
  top: 42%;
  left: 86%;
}
.chapter-template-5 :nth-child(10) {
  top: 45%;
  left: 100%;
}
.chapter-template-5 :nth-child(11) {
  top: calc(-14% + 1.5rem);
  left: calc(16% + 1.5rem);
  transform: rotateZ(108deg);
  width: 8%;
}
.chapter-template-5 :nth-child(12) {
  top: calc(9% + 1.5rem);
  left: calc(13% + 1.5rem);
  transform: rotateZ(139deg);
  width: 12%;
}
.chapter-template-5 :nth-child(13) {
  top: calc(33% + 1.5rem);
  left: calc(2% + 1.5rem);
  transform: rotateZ(90deg);
  width: 11%;
}
.chapter-template-5 :nth-child(14) {
  top: calc(66% + 1.5rem);
  left: calc(2% + 1.5rem);
  transform: rotateZ(27deg);
  width: 18%;
}
.chapter-template-5 :nth-child(15) {
  top: calc(89% + 1.5rem);
  left: calc(20% + 1.5rem);
  transform: rotateZ(-28deg);
  width: 15%;
}
.chapter-template-5 :nth-child(16) {
  top: calc(70% + 1.5rem);
  left: calc(35% + 1.5rem);
  transform: rotateZ(-61deg);
  width: 14%;
}
.chapter-template-5 :nth-child(17) {
  top: calc(36% + 1.5rem);
  left: calc(43% + 1.5rem);
  transform: rotateZ(-31deg);
  width: 19%;
}
.chapter-template-5 :nth-child(18) {
  top: calc(14% + 1.5rem);
  left: calc(59% + 1.5rem);
  transform: rotateZ(7deg);
  width: 17%;
}
.chapter-template-5 :nth-child(19) {
  top: calc(20% + 1.5rem);
  left: calc(76% + 1.5rem);
  transform: rotateZ(41deg);
  width: 11%;
}
.chapter-template-5 :nth-child(20) {
  top: calc(42% + 1.5rem);
  left: calc(86% + 1.5rem);
  transform: rotateZ(4deg);
  width: 12%;
}
.chapter-template-5 :nth-child(21) {
  top: calc(45% + 1.5rem);
  left: calc(100% + 1.5rem);
  transform: rotateZ(-17deg);
  width: 14%;
}

.chapter-template-6 :nth-child(1) {
  top: 2%;
  left: 0%;
}
.chapter-template-6 :nth-child(2) {
  top: 12%;
  left: 17%;
}
.chapter-template-6 :nth-child(3) {
  top: 31%;
  left: 37%;
}
.chapter-template-6 :nth-child(4) {
  top: 70%;
  left: 40%;
}
.chapter-template-6 :nth-child(5) {
  top: 89%;
  left: 20%;
}
.chapter-template-6 :nth-child(6) {
  top: 57%;
  left: 7%;
}
.chapter-template-6 :nth-child(7) {
  top: 5%;
  left: 38%;
}
.chapter-template-6 :nth-child(8) {
  top: 18%;
  left: 62%;
}
.chapter-template-6 :nth-child(9) {
  top: 48%;
  left: 80%;
}
.chapter-template-6 :nth-child(10) {
  top: 86%;
  left: 88%;
}
.chapter-template-6 :nth-child(11) {
  top: calc(11% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(-19deg);
  width: 12%;
}
.chapter-template-6 :nth-child(12) {
  top: calc(2% + 1.5rem);
  left: calc(0% + 1.5rem);
  transform: rotateZ(12deg);
  width: 16%;
}
.chapter-template-6 :nth-child(13) {
  top: calc(12% + 1.5rem);
  left: calc(17% + 1.5rem);
  transform: rotateZ(20deg);
  width: 19%;
}
.chapter-template-6 :nth-child(14) {
  top: calc(31% + 1.5rem);
  left: calc(37% + 1.5rem);
  transform: rotateZ(80deg);
  width: 14%;
}
.chapter-template-6 :nth-child(15) {
  top: calc(70% + 1.5rem);
  left: calc(40% + 1.5rem);
  transform: rotateZ(159deg);
  width: 19%;
}
.chapter-template-6 :nth-child(16) {
  top: calc(89% + 1.5rem);
  left: calc(20% + 1.5rem);
  transform: rotateZ(-134deg);
  width: 17%;
}
.chapter-template-6 :nth-child(17) {
  top: calc(57% + 1.5rem);
  left: calc(7% + 1.5rem);
  transform: rotateZ(-35.5deg);
  width: 36%;
}
.chapter-template-6 :nth-child(18) {
  top: calc(5% + 1.5rem);
  left: calc(38% + 1.5rem);
  transform: rotateZ(12deg);
  width: 22%;
}
.chapter-template-6 :nth-child(19) {
  top: calc(18% + 1.5rem);
  left: calc(62% + 1.5rem);
  transform: rotateZ(35deg);
  width: 20%;
}
.chapter-template-6 :nth-child(20) {
  top: calc(48% + 1.5rem);
  left: calc(80% + 1.5rem);
  transform: rotateZ(64deg);
  width: 15%;
}
.chapter-template-6 :nth-child(21) {
  top: calc(86% + 1.5rem);
  left: calc(88% + 1.5rem);
  transform: rotateZ(30deg);
  width: 22%;
}

.chapter-template-7 :nth-child(1) {
  top: 89%;
  left: 0%;
}
.chapter-template-7 :nth-child(2) {
  top: 64%;
  left: 4%;
}
.chapter-template-7 :nth-child(3) {
  top: 33%;
  left: 2%;
}
.chapter-template-7 :nth-child(4) {
  top: 4%;
  left: 9%;
}
.chapter-template-7 :nth-child(5) {
  top: 13%;
  left: 26%;
}
.chapter-template-7 :nth-child(6) {
  top: 35%;
  left: 41%;
}
.chapter-template-7 :nth-child(7) {
  top: 67%;
  left: 51%;
}
.chapter-template-7 :nth-child(8) {
  top: 87%;
  left: 68%;
}
.chapter-template-7 :nth-child(9) {
  top: 70%;
  left: 90%;
}
.chapter-template-7 :nth-child(10) {
  top: 35%;
  left: 98%;
}
.chapter-template-7 :nth-child(11) {
  top: calc(99% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(-19deg);
  width: 12%;
}
.chapter-template-7 :nth-child(12) {
  top: calc(89% + 1.5rem);
  left: calc(0% + 1.5rem);
  transform: rotateZ(-69deg);
  width: 9%;
}
.chapter-template-7 :nth-child(13) {
  top: calc(64% + 1.5rem);
  left: calc(4% + 1.5rem);
  transform: rotateZ(-99deg);
  width: 11%;
}
.chapter-template-7 :nth-child(14) {
  top: calc(33% + 1.5rem);
  left: calc(2% + 1.5rem);
  transform: rotateZ(-61deg);
  width: 12%;
}
.chapter-template-7 :nth-child(15) {
  top: calc(4% + 1.5rem);
  left: calc(9% + 1.5rem);
  transform: rotateZ(10deg);
  width: 16%;
}
.chapter-template-7 :nth-child(16) {
  top: calc(13% + 1.5rem);
  left: calc(26% + 1.5rem);
  transform: rotateZ(31deg);
  width: 16%;
}
.chapter-template-7 :nth-child(17) {
  top: calc(35% + 1.5rem);
  left: calc(41% + 1.5rem);
  transform: rotateZ(53deg);
  width: 14%;
}
.chapter-template-7 :nth-child(18) {
  top: calc(67% + 1.5rem);
  left: calc(51% + 1.5rem);
  transform: rotateZ(25deg);
  width: 17%;
}
.chapter-template-7 :nth-child(19) {
  top: calc(87% + 1.5rem);
  left: calc(68% + 1.5rem);
  transform: rotateZ(-19deg);
  width: 21%;
}
.chapter-template-7 :nth-child(20) {
  top: calc(70% + 1.5rem);
  left: calc(90% + 1.5rem);
  transform: rotateZ(-63deg);
  width: 15%;
}
.chapter-template-7 :nth-child(21) {
  top: calc(35% + 1.5rem);
  left: calc(98% + 1.5rem);
  transform: rotateZ(-30deg);
  width: 17%;
}

.chapter-template-8 :nth-child(1) {
  top: 65%;
  left: 5%;
}
.chapter-template-8 :nth-child(2) {
  top: 28%;
  left: 20%;
}
.chapter-template-8 :nth-child(3) {
  top: 13%;
  left: 38%;
}
.chapter-template-8 :nth-child(4) {
  top: 34%;
  left: 43%;
}
.chapter-template-8 :nth-child(5) {
  top: 78%;
  left: 40%;
}
.chapter-template-8 :nth-child(6) {
  top: 85%;
  left: 25%;
}
.chapter-template-8 :nth-child(7) {
  top: 62%;
  left: 25%;
}
.chapter-template-8 :nth-child(8) {
  top: 51%;
  left: 63%;
}
.chapter-template-8 :nth-child(9) {
  top: 69%;
  left: 84%;
}
.chapter-template-8 :nth-child(10) {
  top: 27%;
  left: 100%;
}
.chapter-template-8 :nth-child(11) {
  top: calc(79% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(-19deg);
  width: 17%;
}
.chapter-template-8 :nth-child(12) {
  top: calc(65% + 1.5rem);
  left: calc(5% + 1.5rem);
  transform: rotateZ(-47deg);
  width: 20%;
}
.chapter-template-8 :nth-child(13) {
  top: calc(28% + 1.5rem);
  left: calc(20% + 1.5rem);
  transform: rotateZ(-20deg);
  width: 17%;
}
.chapter-template-8 :nth-child(14) {
  top: calc(13% + 1.5rem);
  left: calc(38% + 1.5rem);
  transform: rotateZ(61deg);
  width: 8%;
}
.chapter-template-8 :nth-child(15) {
  top: calc(34% + 1.5rem);
  left: calc(43% + 1.5rem);
  transform: rotateZ(100deg);
  width: 20%;
}
.chapter-template-8 :nth-child(16) {
  top: calc(78% + 1.5rem);
  left: calc(40% + 1.5rem);
  transform: rotateZ(170deg);
  width: 13%;
}
.chapter-template-8 :nth-child(17) {
  top: calc(85% + 1.5rem);
  left: calc(25% + 1.5rem);
  transform: rotateZ(-89deg);
  width: 8%;
}
.chapter-template-8 :nth-child(18) {
  top: calc(62% + 1.5rem);
  left: calc(25% + 1.5rem);
  transform: rotateZ(-7deg);
  width: 36%;
}
.chapter-template-8 :nth-child(19) {
  top: calc(51% + 1.5rem);
  left: calc(63% + 1.5rem);
  transform: rotateZ(19deg);
  width: 20%;
}
.chapter-template-8 :nth-child(20) {
  top: calc(69% + 1.5rem);
  left: calc(84% + 1.5rem);
  transform: rotateZ(-48deg);
  width: 22%;
}
.chapter-template-8 :nth-child(21) {
  top: calc(27% + 1.5rem);
  left: calc(100% + 1.5rem);
  transform: rotateZ(-17deg);
  width: 13%;
}

.chapter-template-9 :nth-child(1) {
  top: 20%;
  left: 2%;
}
.chapter-template-9 :nth-child(2) {
  top: 55%;
  left: 5%;
}
.chapter-template-9 :nth-child(3) {
  top: 80%;
  left: 15%;
}
.chapter-template-9 :nth-child(4) {
  top: 69%;
  left: 33%;
}
.chapter-template-9 :nth-child(5) {
  top: 36%;
  left: 43%;
}
.chapter-template-9 :nth-child(6) {
  top: 5%;
  left: 52%;
}
.chapter-template-9 :nth-child(7) {
  top: 0%;
  left: 69%;
}
.chapter-template-9 :nth-child(8) {
  top: 36%;
  left: 73%;
}
.chapter-template-9 :nth-child(9) {
  top: 63%;
  left: 84%;
}
.chapter-template-9 :nth-child(10) {
  top: 82%;
  left: 100%;
}
.chapter-template-9 :nth-child(11) {
  top: calc(10% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(13deg);
  width: 13%;
}
.chapter-template-9 :nth-child(12) {
  top: calc(20% + 1.5rem);
  left: calc(2% + 1.5rem);
  transform: rotateZ(79deg);
  width: 15%;
}
.chapter-template-9 :nth-child(13) {
  top: calc(55% + 1.5rem);
  left: calc(5% + 1.5rem);
  transform: rotateZ(46deg);
  width: 12%;
}
.chapter-template-9 :nth-child(14) {
  top: calc(80% + 1.5rem);
  left: calc(15% + 1.5rem);
  transform: rotateZ(-16deg);
  width: 17%;
}
.chapter-template-9 :nth-child(15) {
  top: calc(69% + 1.5rem);
  left: calc(33% + 1.5rem);
  transform: rotateZ(-55deg);
  width: 15%;
}
.chapter-template-9 :nth-child(16) {
  top: calc(36% + 1.5rem);
  left: calc(43% + 1.5rem);
  transform: rotateZ(-56deg);
  width: 14%;
}
.chapter-template-9 :nth-child(17) {
  top: calc(5% + 1.5rem);
  left: calc(52% + 1.5rem);
  transform: rotateZ(-9deg);
  width: 15%;
}
.chapter-template-9 :nth-child(18) {
  top: calc(0% + 1.5rem);
  left: calc(69% + 1.5rem);
  transform: rotateZ(75deg);
  width: 13%;
}
.chapter-template-9 :nth-child(19) {
  top: calc(36% + 1.5rem);
  left: calc(73% + 1.5rem);
  transform: rotateZ(45deg);
  width: 13%;
}
.chapter-template-9 :nth-child(20) {
  top: calc(63% + 1.5rem);
  left: calc(84% + 1.5rem);
  transform: rotateZ(25deg);
  width: 16%;
}
.chapter-template-9 :nth-child(21) {
  top: calc(82% + 1.5rem);
  left: calc(100% + 1.5rem);
  transform: rotateZ(-18deg);
  width: 13%;
}

.chapter-template-10 :nth-child(1) {
  top: 38%;
  left: 5%;
}
.chapter-template-10 :nth-child(2) {
  top: 79%;
  left: 9%;
}
.chapter-template-10 :nth-child(3) {
  top: 96%;
  left: 16%;
}
.chapter-template-10 :nth-child(4) {
  top: 100%;
  left: 31%;
}
.chapter-template-10 :nth-child(5) {
  top: 72%;
  left: 46%;
}
.chapter-template-10 :nth-child(6) {
  top: 41%;
  left: 35%;
}
.chapter-template-10 :nth-child(7) {
  top: 8%;
  left: 47%;
}
.chapter-template-10 :nth-child(8) {
  top: 0%;
  left: 72%;
}
.chapter-template-10 :nth-child(9) {
  top: 38%;
  left: 84%;
}
.chapter-template-10 :nth-child(10) {
  top: 81%;
  left: 86%;
}
.chapter-template-10 :nth-child(11) {
  top: calc(16% + 1.5rem);
  left: calc(-13% + 1.5rem);
  transform: rotateZ(25deg);
  width: 18%;
}
.chapter-template-10 :nth-child(12) {
  top: calc(38% + 1.5rem);
  left: calc(5% + 1.5rem);
  transform: rotateZ(77deg);
  width: 15%;
}
.chapter-template-10 :nth-child(13) {
  top: calc(79% + 1.5rem);
  left: calc(9% + 1.5rem);
  transform: rotateZ(46deg);
  width: 8%;
}
.chapter-template-10 :nth-child(14) {
  top: calc(96% + 1.5rem);
  left: calc(16% + 1.5rem);
  transform: rotateZ(3deg);
  width: 13%;
}
.chapter-template-10 :nth-child(15) {
  top: calc(100% + 1.5rem);
  left: calc(31% + 1.5rem);
  transform: rotateZ(-38deg);
  width: 17%;
}
.chapter-template-10 :nth-child(16) {
  top: calc(72% + 1.5rem);
  left: calc(46% + 1.5rem);
  transform: rotateZ(-130deg);
  width: 15%;
}
.chapter-template-10 :nth-child(17) {
  top: calc(41% + 1.5rem);
  left: calc(35% + 1.5rem);
  transform: rotateZ(-51deg);
  width: 16%;
}
.chapter-template-10 :nth-child(18) {
  top: calc(8% + 1.5rem);
  left: calc(47% + 1.5rem);
  transform: rotateZ(-9deg);
  width: 23%;
}
.chapter-template-10 :nth-child(19) {
  top: calc(0% + 1.5rem);
  left: calc(72% + 1.5rem);
  transform: rotateZ(52deg);
  width: 17%;
}
.chapter-template-10 :nth-child(20) {
  top: calc(38% + 1.5rem);
  left: calc(84% + 1.5rem);
  transform: rotateZ(84deg);
  width: 16%;
}
.chapter-template-10 :nth-child(21) {
  top: calc(81% + 1.5rem);
  left: calc(86% + 1.5rem);
  transform: rotateZ(50deg);
  width: 17%;
}

.gui__in-taverne {
  height: 81.7%;
  width: 92.3%;
}
.gui__in-taverne hr {
  width: 90%;
  margin-left: 5%;
}

.gui__in-taverne[active=true] {
  display: flex;
  flex-direction: column;
}
.gui__in-taverne[active=true] .gui__in-taverne-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-menu > button {
  text-align: center;
  font-size: 2rem;
  width: 23%;
  padding: 1.5% 0;
  cursor: pointer;
}
.gui__in-taverne[active=true] .gui__in-taverne-menu > button[active=true] {
  color: #c919ab;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc[type=single] {
  justify-content: center;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc[type=multi] {
  justify-content: flex-start;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc[type=multi] .card:nth-child(1) {
  margin-left: 1.5%;
}
.gui__in-taverne[active=true] .gui__in-taverne__invoc[active=true],
.gui__in-taverne[active=true] .gui__in-taverne__shop[active=true] {
  display: flex;
}
.gui__in-taverne[active=true] .gui__in-taverne__invoc[active=false],
.gui__in-taverne[active=true] .gui__in-taverne__shop[active=false] {
  display: none;
}
.gui__in-taverne[active=true] .gui__in-taverne__invoc {
  flex-grow: 1;
  flex-direction: column;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
  /* 1st, 4th, 7th */
  /* 2nd, 5th, 8th */
  /* 3rd, 6th, 9th */
  /* 1-3 */
  /* 4-6 */
  /* 7-9 */
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card {
  --perspective: 500px;
  --rotateX: 0;
  --rotateY: 0;
  --angle: 15deg;
  transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(var(--rotateY));
  transition: transform 250ms ease;
  animation: opacity 350ms cubic-bezier(0.5, 0.01, 1, 0);
  height: 85%;
  width: 13%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card > div:nth-child(1) {
  flex-grow: 1;
  width: 100%;
  position: relative;
  background-color: transparent;
  border: 0.375rem solid;
  border-radius: 0.25rem;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card img {
  position: absolute;
  width: 23%;
  height: 23%;
  object-fit: contain;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card p {
  margin-top: 5%;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  border: 0.125rem solid black;
  padding: 0.125rem 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card .mouse-position-tracker {
  position: absolute;
  inset: 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card .mouse-position-tracker > div {
  position: absolute;
  width: 33.3333333333%;
  height: 33.3333333333%;
  z-index: 222;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card:has(.mouse-position-tracker > div:nth-child(1):hover) {
  --rotateX: var(--angle);
  --rotateY: calc(var(--angle) * -1);
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card:has(.mouse-position-tracker > div:nth-child(2):hover) {
  --rotateX: var(--angle);
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card:has(.mouse-position-tracker > div:nth-child(3):hover) {
  --rotateX: var(--angle);
  --rotateY: var(--angle);
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card:has(.mouse-position-tracker > div:nth-child(4):hover) {
  --rotateY: calc(var(--angle) * -1);
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card:has(.mouse-position-tracker > div:nth-child(6):hover) {
  --rotateY: var(--angle);
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card:has(.mouse-position-tracker > div:nth-child(7):hover) {
  --rotateX: calc(var(--angle) * -1);
  --rotateY: calc(var(--angle) * -1);
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card:has(.mouse-position-tracker > div:nth-child(8):hover) {
  --rotateX: calc(var(--angle) * -1);
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .card:has(.mouse-position-tracker > div:nth-child(9):hover) {
  --rotateX: calc(var(--angle) * -1);
  --rotateY: var(--angle);
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .mouse-position-tracker > div:nth-of-type(3n - 2) {
  left: 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .mouse-position-tracker > div:nth-of-type(3n - 1) {
  left: 33.3333333333%;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .mouse-position-tracker > div:nth-of-type(3n) {
  right: 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .mouse-position-tracker > div:nth-child(n+1):nth-child(-n+3) {
  top: 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .mouse-position-tracker > div:nth-child(n+4):nth-child(-n+6) {
  top: 33.3333333333%;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc .mouse-position-tracker > div:nth-child(n+7):nth-child(-n+9) {
  bottom: 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=rare] > div:nth-child(1) {
  border-color: #a5c6f0;
  box-shadow: 0 0 2rem #a5c6f0, inset 0 0 2rem #a5c6f0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=rare] p {
  background-color: #a5c6f0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=epic] > div:nth-child(1) {
  border-color: #df90e2;
  box-shadow: 0 0 2rem #df90e2, inset 0 0 2rem #df90e2;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=epic] p {
  background-color: #df90e2;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=legendary] > div:nth-child(1) {
  border-color: #df8984;
  box-shadow: 0 0 2rem #df8984, inset 0 0 2rem #df8984;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=legendary] p {
  background-color: #df8984;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=mythic] {
  padding: 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=mythic] > div:nth-child(1) {
  background-image: url("./assets/img/hero/type/borderM.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=mythic] img {
  margin-bottom: 0.75rem;
}
.gui__in-taverne[active=true] .gui__in-taverne-invoc > div[rarity=mythic] p {
  width: calc(100% - 1.5rem);
  margin: 0 auto 0.75rem auto;
  background-image: linear-gradient(to right, #cc3333, #cccc33, #33cc33, #33cccc, #3333cc, #cc33cc, #cc3333);
}
.gui__in-taverne[active=true] .gui__in-taverne-btn-invoc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 10%;
  margin: 2% 0;
  position: relative;
}
.gui__in-taverne[active=true] .gui__in-taverne-btn-invoc p {
  position: absolute;
  top: 30%;
  font-size: 1.4rem;
  left: 6.7%;
}
.gui__in-taverne[active=true] .gui__in-taverne-btn-invoc button {
  width: 15%;
  height: 95%;
  background-color: transparent;
  font-size: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  position: relative;
}
.gui__in-taverne[active=true] .gui__in-taverne-btn-invoc button[left]::after {
  content: "10";
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  top: 12.5%;
  left: calc(-40% - 0.75rem);
  width: 40%;
  height: 75%;
  background-color: #9e9e9e;
  background-image: url("./assets/img/currency/diams.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80%;
  padding-left: 0.75rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 0.125rem solid black;
}
.gui__in-taverne[active=true] .gui__in-taverne-btn-invoc button[right]::after {
  content: "60";
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  top: 12.5%;
  right: calc(-40% - 0.75rem);
  width: 40%;
  height: 75%;
  background-color: #9e9e9e;
  background-image: url("./assets/img/currency/diams.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 95%;
  padding-left: 0.75rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0.125rem solid black;
}
.gui__in-taverne[active=true] .gui__in-taverne-btn-invoc button[clickable=true] {
  cursor: pointer;
  background-image: url("./assets/img/gui/taverne/invoc.webp");
}
.gui__in-taverne[active=true] .gui__in-taverne-btn-invoc button[clickable=true]:hover {
  background-image: url("./assets/img/gui/taverne/invoc_hover.webp");
}
.gui__in-taverne[active=true] .gui__in-taverne-btn-invoc button[clickable=false] {
  background-image: url("./assets/img/gui/taverne/invoc_blocked.webp");
}

.gui__in-taverne[active=false] {
  display: none;
}

.gui__in-inventaire[active=true] {
  display: block;
}

.gui__in-inventaire[active=false] {
  display: none;
}

.gui__in-inventaire {
  height: 82%;
  width: 90.5%;
}
.gui__in-inventaire .top {
  width: 100%;
  height: 35%;
  position: relative;
}
.gui__in-inventaire .top .left {
  width: 43%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.gui__in-inventaire .top .left .pseudo {
  width: 90%;
  height: 50%;
  position: absolute;
  left: 2%;
  top: 5%;
  background-image: url("./assets/img/gui/inventaire/pseudo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.gui__in-inventaire .top .left .pseudo p {
  font-size: 2rem;
  margin-left: 1.5rem;
}
.gui__in-inventaire .top .left .level {
  width: 94%;
  height: 30%;
  position: absolute;
  left: 2%;
  top: 47%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
.gui__in-inventaire .top .left .level .border {
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/gui/inventaire/barre_xp_02.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 230;
}
.gui__in-inventaire .top .left .level .border .level-show {
  font-size: 1.5rem;
}
.gui__in-inventaire .top .left .level .xp {
  position: absolute;
  top: 20%;
  left: 0.1rem;
  width: 10%;
  height: 60%;
  background-color: #8fdf8f;
  border-radius: 2rem;
  z-index: 229;
}
.gui__in-inventaire .top .right {
  background-image: url("./assets/img/gui/inventaire/devises.webp");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 10%;
  width: 63%;
  height: 80%;
}
.gui__in-inventaire .top .right > p {
  position: absolute;
  font-size: 1.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
}
.gui__in-inventaire .top .right > img {
  position: absolute;
  width: 3rem;
  height: 3rem;
}
.gui__in-inventaire .top .right p:nth-child(1) {
  top: 16.5%;
  right: 71.5%;
}
.gui__in-inventaire .top .right img:nth-child(2) {
  top: 19.5%;
  left: 29%;
}
.gui__in-inventaire .top .right p:nth-child(3) {
  top: 16.5%;
  right: 46%;
}
.gui__in-inventaire .top .right img:nth-child(4) {
  top: 19.5%;
  left: 55%;
}
.gui__in-inventaire .top .right p:nth-child(5) {
  top: 48%;
  right: 69.5%;
}
.gui__in-inventaire .top .right img:nth-child(6) {
  top: 51%;
  left: 32%;
}
.gui__in-inventaire .top .right p:nth-child(7) {
  top: 48%;
  right: 43%;
}
.gui__in-inventaire .top .right img:nth-child(8) {
  top: 51%;
  left: 58%;
}
.gui__in-inventaire .top .right .round-type {
  position: absolute;
  top: -12.3%;
  right: -2.9%;
  height: 153%;
  width: 35%;
  background-image: url("./assets/img/gui/inventaire/rond.webp");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gui__in-inventaire .top .right .round-type img {
  width: 80%;
  height: 80%;
  margin-bottom: 9%;
  margin-right: -4%;
  object-fit: contain;
}
.gui__in-inventaire .bottom {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 3%;
}
.gui__in-inventaire .bottom .inventaire-player {
  background-image: url("./assets/img/gui/inventaire/items.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 75%;
  height: 100%;
  padding: 2rem 1.4rem 1.8rem 2rem;
  /* Chrome, Edge, and Safari */
}
.gui__in-inventaire .bottom .inventaire-player .inventaire-inset {
  height: 96%;
  width: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  padding-bottom: 0.5rem;
}
.gui__in-inventaire .bottom .inventaire-player .inventaire-inset > div {
  aspect-ratio: 1;
  background-color: #69b4be;
}
.gui__in-inventaire .bottom .inventaire-player * {
  scrollbar-width: auto;
  scrollbar-color: #bababa #d6d6d6;
}
.gui__in-inventaire .bottom .inventaire-player *::-webkit-scrollbar {
  width: 2rem;
}
.gui__in-inventaire .bottom .inventaire-player *::-webkit-scrollbar-track {
  background: #d6d6d6;
}
.gui__in-inventaire .bottom .inventaire-player *::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 2rem;
  border: 0.5rem solid #d6d6d6;
}
.gui__in-inventaire .bottom .card-perso {
  background-image: url("./assets/img/gui/inventaire/pp.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 17%;
  height: 93%;
  margin-bottom: 0.5%;
}

.gui__in-auberge {
  height: 81.7%;
  width: 92.3%;
}
.gui__in-auberge hr {
  width: 90%;
  margin-left: 5%;
}

.gui__in-auberge[active=true] {
  display: flex;
  flex-direction: column;
  /* Chrome, Edge, and Safari */
}
.gui__in-auberge[active=true] .gui__in-auberge-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 0;
}
.gui__in-auberge[active=true] .gui__in-auberge-menu > button {
  text-align: center;
  font-size: 2rem;
  width: 23%;
  padding: 1.5% 0;
  cursor: pointer;
}
.gui__in-auberge[active=true] .gui__in-auberge-menu > button[active=true] {
  color: #c919ab;
}
.gui__in-auberge[active=true] > div[active=false] {
  display: none;
}
.gui__in-auberge[active=true] .gui__in-auberge__perso[active=true],
.gui__in-auberge[active=true] .gui__in-auberge__team[active=true] {
  flex-grow: 1;
}
.gui__in-auberge[active=true] .gui__in-auberge__perso {
  display: grid;
  overflow-y: scroll;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 6% 2%;
  padding: 5% 4%;
}
.gui__in-auberge[active=true] .gui__in-auberge__perso > div {
  display: flex;
  aspect-ratio: 29/49;
}
.gui__in-auberge[active=true] * {
  scrollbar-width: auto;
  scrollbar-color: #bababa #f0f0f0;
}
.gui__in-auberge[active=true] *::-webkit-scrollbar {
  width: 2rem;
}
.gui__in-auberge[active=true] *::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.gui__in-auberge[active=true] *::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 2rem;
  border: 0.5rem solid #f0f0f0;
}

.gui__in-auberge[active=false] {
  display: none;
}

.perso-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.perso-card > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 222;
}
.perso-card .rarity {
  top: 14.5%;
  left: 50%;
  width: 8%;
  height: 4%;
  transform: translate(-50%, -50%);
  z-index: 221;
}
.perso-card .name {
  margin-top: 1.6rem;
  font-size: 1.5rem;
  z-index: 230;
}
.perso-card .bottom {
  z-index: 230;
  margin-bottom: 1.9rem;
}
.perso-card .bottom .star {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  width: 100%;
}
.perso-card .bottom .star img {
  width: 16%;
  aspect-ratio: 1/1;
}
.perso-card .bottom .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.perso-card .bottom .info .spell {
  width: 39%;
  height: 3rem;
}
.perso-card .bottom .info .level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  width: 36%;
  margin-right: 4.2%;
  font-size: 1.125rem;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.3px;
  /* Autres préfixes de navigateurs */
  text-stroke-color: black;
  text-stroke-width: 0.3px;
}

.perso-card[owned=false] {
  filter: grayscale(1);
}

.preload {
  background: url("./assets/img/main-screen/auberge_glow_02.webp") no-repeat -9999px -9999px, url("./assets/img/main-screen/forge_glow_02.webp") no-repeat -9999px -9999px, url("./assets/img/main-screen/guilde_glow_02.webp") no-repeat -9999px -9999px, url("./assets/img/main-screen/puit_plein_glow_02.webp") no-repeat -9999px -9999px, url("./assets/img/main-screen/taverne_glow_02.webp") no-repeat -9999px -9999px, url("./assets/img/main-screen/inventaire_glow_02.webp") no-repeat -9999px -9999px, url("./assets/img/gui/auberge_taverne_forge_guilde.webp") no-repeat -9999px -9999px, url("./assets/img/hero/fiddle_stock.webp") no-repeat -9999px -9999px, url("./assets/img/hero/filip.webp") no-repeat -9999px -9999px, url("./assets/img/hero/fon_bou.webp") no-repeat -9999px -9999px, url("./assets/img/hero/gro_pilon.webp") no-repeat -9999px -9999px, url("./assets/img/hero/john_doe.webp") no-repeat -9999px -9999px, url("./assets/img/hero/klo_charr.webp") no-repeat -9999px -9999px, url("./assets/img/hero/mads_chrees.webp") no-repeat -9999px -9999px, url("./assets/img/hero/magic_nilmar.webp") no-repeat -9999px -9999px, url("./assets/img/hero/many.webp") no-repeat -9999px -9999px, url("./assets/img/hero/mommy_milkers.webp") no-repeat -9999px -9999px, url("./assets/img/hero/necroloss.webp") no-repeat -9999px -9999px, url("./assets/img/hero/pakt.webp") no-repeat -9999px -9999px, url("./assets/img/hero/pauv_type.webp") no-repeat -9999px -9999px, url("./assets/img/hero/petitekip.webp") no-repeat -9999px -9999px, url("./assets/img/hero/pouri_d_groll.webp") no-repeat -9999px -9999px, url("./assets/img/hero/quad_space.webp") no-repeat -9999px -9999px, url("./assets/img/hero/raph_g_j.webp") no-repeat -9999px -9999px, url("./assets/img/hero/ren_par.webp") no-repeat -9999px -9999px, url("./assets/img/hero/saka_vyand.webp") no-repeat -9999px -9999px, url("./assets/img/hero/tad_merde.webp") no-repeat -9999px -9999px, url("./assets/img/hero/toc_arr.webp") no-repeat -9999px -9999px, url("./assets/img/hero/tripoteur.webp") no-repeat -9999px -9999px, url("./assets/img/hero/vadh_l_b.webp") no-repeat -9999px -9999px, url("./assets/img/hero/vivi.webp") no-repeat -9999px -9999px;
}

/*# sourceMappingURL=style.css.map */
