* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Retro Gaming', sans-serif;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: 'Retro Gaming';
    src: url('./assets/font/retro-gaming.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Village';
    src: url('./assets/font/village.ttf');
    font-style: normal;
    font-weight: 400;
}
