.chapter-template-1 {
    >div {
        position: absolute;
    }

    :nth-child(1) {
        top: 70%;
        left: 0%;
    }

    :nth-child(2) {
        top: 20%;
        left: 5%;
    }

    :nth-child(3) {
        top: 12%;
        left: 20%;
    }

    :nth-child(4) {
        top: 45%;
        left: 31%;
    }

    :nth-child(5) {
        top: 82%;
        left: 35%;
    }

    :nth-child(6) {
        top: 87%;
        left: 49%;
    }

    :nth-child(7) {
        top: 50%;
        left: 56%;
    }

    :nth-child(8) {
        top: 30%;
        left: 74%;
    }

    :nth-child(9) {
        top: 42%;
        left: 89%;
    }

    :nth-child(10) {
        top: 45%;
        left: 100%;
    }
}

.chapter-template-2 {
    >div {
        position: absolute;
    }

    :nth-child(1) {
        top: 80%;
        left: 0%;
    }

    :nth-child(2) {
        top: 80%;
        left: 20%;
    }

    :nth-child(3) {
        top: 44%;
        left: 44%;
    }

    :nth-child(4) {
        top: 17%;
        left: 30%;
    }

    :nth-child(5) {
        top: 22%;
        left: 14%;
    }

    :nth-child(6) {
        top: 51%;
        left: 16%;
    }

    :nth-child(7) {
        top: 79%;
        left: 40%;
    }

    :nth-child(8) {
        top: 52%;
        left: 63%;
    }

    :nth-child(9) {
        top: 51%;
        left: 89%;
    }

    :nth-child(10) {
        top: 70%;
        left: 100%;
    }
}

.chapter-template-3 {
    >div {
        position: absolute;
    }

    :nth-child(1) {
        top: 39%;
        left: 0%;
    }

    :nth-child(2) {
        top: 14;
        left: 14%;
    }

    :nth-child(3) {
        top: 17%;
        left: 30%;
    }

    :nth-child(4) {
        top: 46%;
        left: 28%;
    }

    :nth-child(5) {
        top: 76%;
        left: 15%;
    }

    :nth-child(6) {
        top: 92%;
        left: 32%;
    }

    :nth-child(7) {
        top: 73%;
        left: 49%;
    }

    :nth-child(8) {
        top: 40%;
        left: 63%;
    }

    :nth-child(9) {
        top: 27%;
        left: 84%;
    }

    :nth-child(10) {
        top: 37%;
        left: 100%;
    }
}

.chapter-template-4 {
    >div {
        position: absolute;
    }

    :nth-child(1) {
        top: 78%;
        left: 0%;
    }

    :nth-child(2) {
        top: 33%;
        left: 5%;
    }

    :nth-child(3) {
        top: 10%;
        left: 17%;
    }

    :nth-child(4) {
        top: 10%;
        left: 34%;
    }

    :nth-child(5) {
        top: 37%;
        left: 49%;
    }

    :nth-child(6) {
        top: 60%;
        left: 41%;
    }

    :nth-child(7) {
        top: 85%;
        left: 54%;
    }

    :nth-child(8) {
        top: 76%;
        left: 73%;
    }

    :nth-child(9) {
        top: 51%;
        left: 93%;
    }

    :nth-child(10) {
        top: 11%;
        left: 97%;
    }
}

.chapter-template-5 {
    >div {
        position: absolute;
    }

    :nth-child(1) {
        top: 9%;
        left: 13%;
    }

    :nth-child(2) {
        top: 33%;
        left: 2%;
    }

    :nth-child(3) {
        top: 66%;
        left: 2%;
    }

    :nth-child(4) {
        top: 89%;
        left: 20%;
    }

    :nth-child(5) {
        top: 70%;
        left: 35%;
    }

    :nth-child(6) {
        top: 36%;
        left: 43%;
    }

    :nth-child(7) {
        top: 14%;
        left: 59%;
    }

    :nth-child(8) {
        top: 20%;
        left: 76%;
    }

    :nth-child(9) {
        top: 42%;
        left: 86%;
    }

    :nth-child(10) {
        top: 45%;
        left: 100%;
    }
}