.gui__layer-0 {
    position: absolute;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gui__layer-0[visible="false"] {
    display: none;
}

.gui__layer-0[visible="true"] {
    display: flex;
}

.gui__auberge[visible="false"],
.gui__guilde[visible="false"],
.gui__taverne[visible="false"],
.gui__forge[visible="false"],
.gui__inventaire[visible="false"] {
    display: none;
}

.gui__auberge[visible="true"],
.gui__guilde[visible="true"],
.gui__taverne[visible="true"],
.gui__forge[visible="true"],
.gui__inventaire[visible="true"] {
    z-index: 210;
    background-image: url('./assets/img/gui/auberge_taverne_forge_guilde.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gui__puit[visible="false"] {
    display: none;
}

.gui__puit[visible="true"] {
    z-index: 210;
    background-image: url('./assets/img/gui/puit.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gui__border-top,
.gui__border-left,
.gui__border-bottom,
.gui__border-right {
    z-index: 220;
    display: none;
}

.gui__border-top[visible="true"],
.gui__border-left[visible="true"],
.gui__border-bottom[visible="true"],
.gui__border-right[visible="true"] {
    display: block;
}

.gui__border-top[type="auberge"] {
    //background-color: rgba(0, 255, 255, 0.452);
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
}

.gui__border-left[type="auberge"] {
    //background-color: rgba(43, 255, 0, 0.452);
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
}

.gui__border-bottom[type="auberge"] {
    //background-color: rgba(0, 255, 255, 0.452);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
}

.gui__border-right[type="auberge"] {
    //background-color: rgba(43, 255, 0, 0.452);
    top: 0;
    right: 0;
    width: 4%;
    height: 100%;
}

.gui__border-top[type="puit"] {
    //background-color: rgba(0, 255, 255, 0.452);
    top: 0;
    left: 0;
    width: 100%;
    height: 28%;
}

.gui__border-left[type="puit"] {
    //background-color: rgba(43, 255, 0, 0.452);
    top: 0;
    left: 0;
    width: 25.5%;
    height: 100%;
}

.gui__border-bottom[type="puit"] {
    //background-color: rgba(0, 255, 255, 0.452);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27%;
}

.gui__border-right[type="puit"] {
    //background-color: rgba(43, 255, 0, 0.452);
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
}

// ----------------------------