.perso-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    >img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 222;
    }

    .rarity {
        top: 14.5%;
        left: 50%;
        width: 8%;
        height: 4%;
        transform: translate(-50%, -50%);
        z-index: 221;
    }

    .name {
        margin-top: 1.6rem;
        font-size: 1.5rem;
        z-index: 230;
    }

    .bottom {
        z-index: 230;
        margin-bottom: 1.9rem;

        .star {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2%;
            width: 100%;

            img {
                width: 16%;
                aspect-ratio: 1/1;
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .spell {
                width: 39%;
                height: 3rem;
            }

            .level {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 3rem;
                width: 36%;
                margin-right: 4.2%;
                font-size: 1.125rem;
                color: #fff;
                text-align: center;

                -webkit-text-stroke-color: rgb(0, 0, 0);
                -webkit-text-stroke-width: 0.3px;
                /* Autres préfixes de navigateurs */
                text-stroke-color: rgb(0, 0, 0);
                text-stroke-width: 0.3px;
            }
        }
    }
}

.perso-card[owned="false"] {
    filter: grayscale(1);
}

.perso-card[who=" (18)"] {
    background-image: url('./assets/img/hero/ (18).webp');
}

.perso-card[who="fiddle_stock"] {
    background-image: url('./assets/img/hero/fiddle_stock.webp');
}

.perso-card[who="filip"] {
    background-image: url('./assets/img/hero/filip.webp');
}

.perso-card[who="fon_bou"] {
    background-image: url('./assets/img/hero/fon_bou.webp');
}

.perso-card[who="gro_pilon"] {
    background-image: url('./assets/img/hero/gro_pilon.webp');
}

.perso-card[who="john_doe"] {
    background-image: url('./assets/img/hero/john_doe.webp');
}

.perso-card[who="klo_charr"] {
    background-image: url('./assets/img/hero/klo_charr.webp');
}

.perso-card[who="mads_chrees"] {
    background-image: url('./assets/img/hero/mads_chrees.webp');
}

.perso-card[who="magic_nilmar"] {
    background-image: url('./assets/img/hero/magic_nilmar.webp');
}

.perso-card[who="many"] {
    background-image: url('./assets/img/hero/many.webp');
}

.perso-card[who="mommy_milkers"] {
    background-image: url('./assets/img/hero/mommy_milkers.webp');
}

.perso-card[who="necroloss"] {
    background-image: url('./assets/img/hero/necroloss.webp');
}

.perso-card[who="pakt"] {
    background-image: url('./assets/img/hero/pakt.webp');
}

.perso-card[who="pauv_type"] {
    background-image: url('./assets/img/hero/pauv_type.webp');
}

.perso-card[who="petitekip"] {
    background-image: url('./assets/img/hero/petitekip.webp');
}

.perso-card[who="pouri_d_groll"] {
    background-image: url('./assets/img/hero/pouri_d_groll.webp');
}

.perso-card[who="quad_space"] {
    background-image: url('./assets/img/hero/quad_space.webp');
}

.perso-card[who="raph_g_j"] {
    background-image: url('./assets/img/hero/raph_g_j.webp');
}

.perso-card[who="ren_par"] {
    background-image: url('./assets/img/hero/ren_par.webp');
}

.perso-card[who="saka_vyand"] {
    background-image: url('./assets/img/hero/saka_vyand.webp');
}

.perso-card[who="tad_merde"] {
    background-image: url('./assets/img/hero/tad_merde.webp');
}

.perso-card[who="toc_arr"] {
    background-image: url('./assets/img/hero/toc_arr.webp');
}

.perso-card[who="tripoteur"] {
    background-image: url('./assets/img/hero/tripoteur.webp');
}

.perso-card[who="vadh_l_b"] {
    background-image: url('./assets/img/hero/vadh_l_b.webp');
}

.perso-card[who="vivi"] {
    background-image: url('./assets/img/hero/vivi.webp');
}
